#root {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(3,30,16,1) 0%, rgba(8,107,69,1) 100%) fixed; 
  background-repeat: no-repeat;
  padding: 0 15px;
}
